.text-area {
    -fx-font-family: "monospace";
    -fx-font-size: 30;
}

.table-view {
    -fx-font-family: "monospace";
}

#BottomVBox {
    -fx-padding: 15 0 0 0;
}

#messageLabel {
    -fx-padding: 5;
}